.about-container {
  margin-top: 26em;
  background-color: #fff;
  width: 100%;
  height: 80vh;
  color: #000;

}

.about-title {
  padding-top: 8em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.about-container:hover {
  .about-title-slider {
    width: 30%;
  }
}

.about-title-slider {
    background-color: #000;
    width: 0;
    transition: width 1s ease;
    height: 2px;
    display: block;
    transition: width 0.5s ease-in-out;
    margin: 0 auto;
}

.about-wrap {
  font-size: 0.8em;
  width: 90vw;
  margin: 0 auto;
}

.about-desc {
  font-family: 'Open Sans', sans-serif;
  margin-top:2em;
}

.about-skills-wrapper {
  font-family: 'Open Sans', sans-serif;
  margin-top: 2em;
  letter-spacing: 0.5px;
}

.about-skill-level {
  font-style:italic;
  font-weight:700;
  color: $matt-grey;
}

@media screen and (min-width: $break-large) {
    .about-wrap {
      width:50vw;
      font-size: 1em;
    }


}






