.contact-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #000;
  padding-top: 2em;
}

.contact-wrap {
  text-align:center;
  font-family: "Open Sans", sans-serif;
  margin: 5em;
}

.contact-title {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.contact-container:hover {
  .contact-title-slider {
    width: 10%;
  }
}

.contact-title-slider {
    background-color: #000;
    width: 0;
    height: 2px;
    display: block;
    transition: width 0.5s ease-in-out;
    margin: 0 auto;
}

.contact-email-head {
  margin-top: 1em;
}

.contact-email {
  margin-top: 0.5em;
}

.icon-wrap {
  border-radius:50%;
  border: 1px solid black;
  width: 5em;
}


.contact-links {
  text-align: center;
  font-size: 1.8em;
  margin-top: 3em;
  color: #000;
  a {
    color: #000;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.25em 0.55em;
    margin: 0.1em;
  }
  #contact-linkedin:hover {
    background-color: $b-blue;
    color: #fff;
    border: 1px solid transparent;
  }
  #contact-github:hover {
    background-color: #000;
    color: #fff;
  }
}

 .contact-footer-desc {
    margin-top: 12em;
    font-size: 0.8em;
  }

