body {
  height: 200vh;
}

.main-container {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
}

.name-container {
  width: 100%;
  height: 85vh;
  background: linear-gradient(90deg, #6bb9f0 40%,  #3498db 60%, #2980b9 90%);
}

.name-wrap, .name, .name-wrap {
  position: absolute;
}

.name-wrap {
  margin: 0 auto;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #FFF;
  transition: all 0.3s ease;
  border-radius: 5px;
  width: 12em;
  height: 4em;
  transition: all 0.3s ease;
  color: #fff;
}

.name-wrap:hover {
  width: 80vw;
  padding-bottom: 6.5em;
  .name {
    font-size: 1.3em;
    transform: translateY(-10px);
  }
  .name-desc {
    opacity: 1;
     transform: translateY(50px);
  }
}

.name, .name-desc {
  width: 100%;
  height: 4em;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 4em;
}

.name-desc {
  line-height:1em;
  font-style: italic;
}

.name-desc {
  opacity: 0;
}

#parallax-img {
  position: fixed;
  top: 0%;
  z-index: -1;
  img {
  width: 100vw;
  }
}


@media screen and (min-width: $break-large) {
    .name-wrap:hover {
      width: 27vw;
    }
}


