body {
  height: 200vh;
}

.main-container {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
}

.name-container {
  width: 100%;
  height: 85vh;
  background: linear-gradient(135deg, #6bb9f0 40%,  #3498db 60%, #2980b9 90%);
  // background-color: $matt-grey;
}

.name-wrap, .name, .name-wrap {
  position: absolute;
}

.name-wrap {
  margin: 0 auto;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  // border-radius: 5px;
  width: 12em;
  height: 4em;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 1em;
}

.name-wrap:hover {
  width: 80vw;
  padding-bottom: 5.5em;
  .name {
    // font-size: 1.3em;
    transform: translateY(-10px);
  }
  .name-desc {
    opacity: 1;
     transform: translateY(4.8em);
  }
}

.name, .name-desc {
  width: 100%;
  height: 4em;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 4em;
}

.name {
  @include flex(row);
}

.name-desc {
  font-size: 0.7em;
}

.first-name {
  animation: fade-down 1.5s ease-out forwards;
}

.last-name {
  animation: fade-up 1.5s ease-out forwards;
}

.name-desc {
  line-height:0.7em;
  font-style: italic;
}

.name-desc {
  opacity: 0;
}

#parallax-img {
  position: fixed;
  top: 0%;
  z-index: -1;
  img {
  width: 100vw;
  }
}


@media screen and (min-width: $break-large) {
    .name-wrap {
      font-size: 1.3em;
    }
    .name-wrap:hover {
      width: 25vw;
    }

}


