.project-container {
  // margin-top: 20em;
  background-color: $matt-grey;
  width: 100%;
  height: 120vh;
  color: #fff;
}

.project-title {
  padding-top: 3.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.project-container:hover {
  .project-title-slider {
    width: 10%;
  }
}

.project-title-slider {
    background-color: #fff;
    width: 0;
    transition: width 1s ease;
    height: 2px;
    display: block;
    transition: width 0.5s ease-in-out;
    margin: 0 auto;
}

.project {
  text-align: center;
  margin-top: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
}

.projects-title {
  font-weight: 700;
  margin-top: 1em;

}

.project-img {
  width: 90vw;
  margin-top:1em;

}

.project-desc {

}

@media screen and (min-width: $break-large) {
    .project-img {
      width: 30vw;
    }


}

