.project-container {
  margin-top: 20em;
  background-color: #fff;
  width: 100vw;
  height: 60vh;
}

.project-title {
  padding-top: 3.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal
}

.notion-project {
  text-align: center;
}

